.loading-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

.spinner {
    margin: 20px auto;
    width: 500px;
    height: 450px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.spinner .circle {
    animation: spinners linear infinite;
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #F00;
    border-radius: 50%
}

.spinner .one {
    width: 50px;
    height: 50px;
    border-top-color: #bcbbbb;
    animation-duration: .85s
}

.spinner .two {
    width: 70px;
    height: 70px;
    border-top-color: #3b83f6;
    animation-duration: .95s
}

.spinner .three {
    width: 100px;
    height: 100px;
    border-top-color: #f48023;
    animation-duration: 1.05s
}


@keyframes spinners {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}